/* AboutMePage.css */
.homepage-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

}

.welcome-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: darkblue;
}

.header-section {
  margin-bottom: 40px;
  
}

.user-details {
  display: flex;
  align-items: center;
  position: relative;
  
}

.section-toggle {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: white;
  font-size: 24px;
}


.slide-up {
  transition: transform 0.5s ease-in-out;
  transform: translateY(-20px);
  opacity: 0;
}

.slide-up.visible {
  opacity: 1;
  transform: translateY(0);
}

.download-cv-section {
  margin-top: 40px;
}





.left-section {
  flex: 1;
}

.right-section {
  flex: 1;
  
}
/* AboutMePage.css */

.slide-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease; /* Adjust duration as needed */
}

.visible {
  opacity: 1;
  transform: translateY(0);
}
/* AboutMePage.css */

/* Box styling for each container */
.box {
  background-color:  #f1faee;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  margin-bottom: 20px; /* Add some margin between boxes */
}

/* Adjust box styling as needed */

.download-cv-section {
  margin-top: 20px;
  position: center;
}

.download-cv-section h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.download-cv-section p {
  margin-bottom: 20px;
}

.download-cv-section a {
  display: center;
  position: center;
  background-color: darkgreen;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.download-cv-section a:hover {
  background-color: lightgreen;
}

.download-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.download-icon:hover {
  transform: rotate(360deg);
}
.cv-wrapper {
  text-align: center;
}
.skill-bar {
  position: relative;
  height: 20px;
  background-color: lightgreen;
  border: 1px solid #ccc;

  box-sizing: border-box;
  transition: width 3s ease; /* Add transition for width change */
}

.skill-bar.animated {
  animation: growWidth 10s forwards; /* Add animation for growing width */
}

@keyframes growWidth {
  from { width: 0%; }
  to { width: var(--skill-level, 0%); } /* Use variable to set the final width */
}
body {
background-color: #f1faee;
/* background-image: url("background.jpg"); */
background-position: cover;

}
@media screen and (max-width: 320px) {
  .homepage-container {
    max-width: 5px; /* Adjust max-width for smaller screens */
    padding: 130px; /* Adjust padding for smaller screens */
  }

  .welcome-title {
    font-size: 12px; /* Adjust font size for smaller screens */
    margin-bottom: 8px; /* Adjust margin for smaller screens */
  }

  .header-section {
    margin-bottom: 20px; /* Adjust margin for smaller screens */
    font-size: 12px; /* Adjust font size for smaller screens */
  }

  .section-toggle {
    width: 25px; /* Adjust width for smaller screens */
    height: 25px; /* Adjust height for smaller screens */
    font-size: 8px; /* Adjust font size for smaller screens */
  }

  .box {
    padding: 10px; /* Adjust padding for smaller screens */
    margin-bottom: 10px; /* Adjust margin between boxes for smaller screens */
  }

  .download-cv-section {
    margin-top: 10px; /* Adjust margin-top for smaller screens */
  }

  .download-cv-section h2 {
    font-size: 8px; /* Adjust font size for smaller screens */
    margin-bottom: 6px; /* Adjust margin-bottom for smaller screens */
  }

  .download-cv-section p {
    margin-bottom: 8px; /* Adjust margin-bottom for smaller screens */
    font-size: 8px; /* Adjust font size for smaller screens */
  }

  .download-icon {
    width: 5px; /* Adjust width for smaller screens */
    margin-right: 6px; /* Adjust margin-right for smaller screens */
  }
.cv-title{
  font-size: 15px;
}
.download-cv-link{
font-size: 10px;
}
.skills-title{
  font-size: 15px;
}
  .skill-bar {
  font-size: 8px;
    height: 10px; /* Adjust height for smaller screens */
  }
}

