/* ClassPage.css */

.class-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .class-details {
    background-color:  #f1faee;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  p {
    color: #666;
    margin: 10px 0;
  }
  
  /* You can add more styles based on your design preferences */
  