/* ClassPage.css */

.class-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .class-details {
    background-color:  #f1faee;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  p {
    color: #666;
    margin: 10px 0;
  }
  @media only screen and (max-width: 1025px) {
    .class-container {
        max-width: 500px; /* Adjust max-width for screens up to 1025px */
        margin-right: 50px;
    }
}

/* Media query for screens with a maximum width of 521px */
@media only screen and (max-width: 521px) {
    .class-container {
        max-width: 280px; /* Adjust max-width for screens up to 521px */
        padding-left: 100px; /* Adjust padding for smaller screens */
    }

    .class-details {
        padding: 15px; /* Adjust padding for smaller screens */
        margin-bottom: 15px; /* Adjust margin for smaller screens */
    }

    h1 {
        font-size: 1.5em; /* Decrease font size for smaller screens */
    }

    p {
        font-size: 0.9em; /* Decrease font size for smaller screens */
    }
}