/* ContactPage.css */

.contact-container {
  position: relative; /* Set position to relative */
  display: flex;
  justify-content: center; /* Center horizontally */
  margin-top: 50px; /* Adjust margin as needed */
}

.contact-form-section,
.contact-info-section {
  position: relative; /* Ensure sections are positioned relative to the container */
  padding: 20px;
  background-color:  #f1faee;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  margin: 0 10px; /* Add margin to create space around elements */
  max-width: 400px; /* Set a maximum width for the sections */
}

.contact-form-section h3,
.contact-info-section h3 {
  margin-bottom: 15px;
  color: #333;
}

.contact-section {
  margin-bottom: 20px;
}

.contact-section img {
  width: 20px;
  margin-right: 10px;
}

.contact-section a {
  color: #007bff;
  text-decoration: none;
}

.contact-section a:hover {
  text-decoration: underline;
}

/* Add this style for the circle background */
.contact-container::before {
  content: '';
  position: absolute;
  top: -100px; /* Adjust to position the circle properly */
  left: 50%;
  transform: translateX(-50%);
  width: 300px; /* Adjust the width of the circle */
  height: 300px; /* Adjust the height of the circle */
  background-color: #f0f0f0; /* Set the background color of the circle */
  border-radius: 50%; /* Make it a circle */
  z-index: -1; /* Place it behind the contact form */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.welcome-title {
  animation: fadeIn 3s ease forwards;

}
@media only screen and (max-width: 1025px) {
  .contact-container {
    flex-direction: column; /* Change to a column layout for smaller screens */
    align-items: center; /* Center items vertically */
  }

  .contact-form-section,
  .contact-info-section {
    width: 500px; /* Adjust width for smaller screens */
    margin: 0; /* Remove horizontal margin for smaller screens */
    margin-left: 70px;
  }

  .contact-container::before {
    width: 250px; /* Adjust the width of the circle for smaller screens */
    height: 250px; /* Adjust the height of the circle for smaller screens */
    top: -50px; /* Adjust to position the circle properly for smaller screens */
  }

}


@media only screen and (max-width: 521px) {
  .contact-container {
    flex-direction: column; /* Change to a column layout for smaller screens */
    align-items: center; /* Center items vertically */
  }

  .contact-form-section,
  .contact-info-section {
    width: 150px; /* Adjust width for smaller screens */
    margin: 0; /* Remove horizontal margin for smaller screens */
    margin-left: 70px;
  }

  .contact-container::before {
    width: 250px; /* Adjust the width of the circle for smaller screens */
    height: 250px; /* Adjust the height of the circle for smaller screens */
    top: -50px; /* Adjust to position the circle properly for smaller screens */
  }
}