/* EducationPage.css */

.education-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .education-item {
    border: 1px solid #ccc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
  }
  
  .education-item h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .education-item p {
    margin-bottom: 5px;
  }
  
  /* Navbar and Footer styling */
  /* Add your own styles or reuse existing styles from your application */
  @media only screen and (max-width: 1025px) {
    .education-container {
        max-width: 500px; /* Adjust max-width for screens up to 1025px */
        padding-left: 130px;
    }
}

/* Media query for screens with a maximum width of 521px */
@media only screen and (max-width: 521px) {
    .education-container {
        max-width: 200px; /* Adjust max-width for screens up to 521px */
        padding-left: 100px; /* Adjust padding for smaller screens */
    }

    .education-item {
        padding: 10px; /* Adjust padding for smaller screens */
        margin-bottom: 15px; /* Adjust margin for smaller screens */
    }

    .education-item h2 {
        font-size: 1.2rem; /* Decrease font size for smaller screens */
    }

    .education-item p {
        font-size: 0.9rem; /* Decrease font size for smaller screens */
    }
}