/* src/css/Footer.css */
.footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    background-image: url('background.jpg'); /* Adjust the path to your image */
    background-size: cover; /* Cover the entire viewport */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center; /* Center the background image */
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-section {
    text-align: left;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: auto;
    padding-top: 5px;
    border-top: 1px solid #ccc;
    color: #777;
  }
  .footer-section a img {
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    margin-right: 5px; /* Optional: Add some space between the icon and text */
    vertical-align: middle; /* Align the icon vertically with the text */
  }
  .footer-section p img {
    width: 20px; /* Adjust the width of the icons as needed */
    height: 20px; /* Adjust the height of the icons as needed */
    margin-right: 8px; /* Add some spacing between the icon and the text */
  }


  .footer-section img {
    width: 20px; /* Adjust the width of the map icon as needed */
    height: 20px; /* Adjust the height of the map icon as needed */
    margin-right: 8px; /* Add some spacing between the icon and the text */
 
  }
  