.notification {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  animation: fadeOut 10s forwards; /* Changed from 3s to 5s */
}

.notification.success {
   background-color:  #f1faee;
  border-color: #d0e9c6;
  color: #3c763d;
}

.notification.error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
