
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  
}



.homepage-container {
  display: flex;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

.content {
  display: flex;
  align-items: center;
}

.text {
  margin-right: 20px;
 color: darkblue;
}


.welcome {
  font-size: 36px;
  margin-bottom: 10px;
  color: SlateBlue
  ;
}

.name {
  font-size: 24px;
}

.profile-picture img {
  width: 200px; /* Adjust the size of the profile picture */
 
}

.fade-in .welcome,
.fade-in .name,
.fade-in .profile-picture img {
  opacity: 1;
  transition: opacity 1s ease-in-out;
  transition-delay: 0.5s; /* Delay the animation */
}

.fade-in .profile-picture {
  transform: translateY(0);
}


.homepage-border {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  
  /* Adjust margin to position the border */
  margin: 10px 200px 20px 300px; /* Increase the right margin value */
  /* Adjust width as needed */
  width: 100%;
  /* Adjust max-width as needed */
  max-width: 1050px;
}



.content {
  display: flex;
  align-items: center;

  padding: 20px; /* Adjust padding as needed */
}


.profile-picture img {
  width: 200px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow effect for depth */
}



.fade-in .text,
.fade-in .profile-picture img {
  opacity: 1;
  transition: opacity 1s ease-in-out;
  transition-delay: 0.5s; /* Delay the animation */
}

.fade-in .profile-picture {
  transform: translateY(0);
}


.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.homepage-border {

  padding: 20px; /* Adjust padding as needed */
}


.vertical-line {
  display: inline-block;
}

.blink-animation {
  animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}



.Title{
  color: darkblue;
}
.icon {
  width: 30px; /* Adjust size as needed */
  height: 30px;
  padding-left:30px;
  margin-right: 1px; /* Adjust spacing between icons */
}
/* Add this at the end of your HomePage.css */

.scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll-icon {
  font-size: 24px;
  margin-bottom: 5px;
  animation: bounce 2s infinite; /* Add a bounce animation */
}

.scroll-text {
  font-size: 14px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
