
.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

.content {
  display: flex;
  align-items: center;
}

.text {
  margin-right: 20px;
  color: #333; /* Dark gray color */
}


.welcome {
  font-size: 36px;
  margin-bottom: 10px;
}

.name {
  font-size: 24px;
}

.profile-picture img {
  width: 200px; /* Adjust the size of the profile picture */
 
}

.fade-in .welcome,
.fade-in .name,
.fade-in .profile-picture img {
  opacity: 1;
  transition: opacity 1s ease-in-out;
  transition-delay: 0.5s; /* Delay the animation */
}

.fade-in .profile-picture {
  transform: translateY(0);
}


.homepage-border {

  padding: 20px; /* Adjust padding as needed */
}

.content {
  display: flex;
  align-items: center;

  padding: 20px; /* Adjust padding as needed */
}


.profile-picture img {
  width: 200px; /* Adjust the size of the profile picture */
}

.fade-in .text,
.fade-in .profile-picture img {
  opacity: 1;
  transition: opacity 1s ease-in-out;
  transition-delay: 0.5s; /* Delay the animation */
}

.fade-in .profile-picture {
  transform: translateY(0);
}


.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.homepage-border {

  padding: 20px; /* Adjust padding as needed */
}


.vertical-line {
  display: inline-block;
}

.blink-animation {
  animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}



