/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem; /* Increase padding for more space */
  background-color: #333;
  color: white;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 2rem; /* Increase margin for more space */
}

.navbar-list {
  list-style: none;
  display: flex;
}

.navbar-item {
  margin-right: 5rem; /* Increase margin for more space */
}

.navbar-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
}

.navbar-link:hover {
  color: #593ceb; /* Change the color on hover */
}
