/* WorkPage.css */
.work-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .work-item {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    width: 400px;
    background-color:  #f1faee;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Add more styles as needed */
  .back-button {
    position: fixed;
    top: 10px;
    left: 230px;
    padding: 10px 20px;
    background-color: lightgreen;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 9999;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }
  
  .back-button:hover {
    background-color: #76ace5;
    animation: pulse 0.5s infinite alternate; /* Hover animation */
  }
  
  /* Keyframes for pulse animation */
  @keyframes pulse {
    to {
      transform: scale(1.1); /* Increase size on hover */
    }
  }
  
  /* Style for the arrow icon */
  .back-button svg {
    margin-right: 1px;
  }


@media only screen and (max-width: 1025px) {
  .work-item {
      width: 500px; /* Adjust width for smaller screens */

      padding: 10px; /* Adjust padding for smaller screens */
      margin-left: 170px;
  }

  .back-button {
    
      left: calc(50% - 180px); /* Center horizontally for smaller screens */
  
  }
}  @media only screen and (max-width: 521px) {
    .work-item {
        width: 180px; /* Adjust width for smaller screens */
      
       
        margin-left: 80px;
    }
  
    .back-button {
      width: 20px;
      font-size: 10px;
        left: calc(50% - 80px); /* Center horizontally for smaller screens */
    
    }
}